:root {
  --posX: 0px;
  --posY: 200px;
  --rot: 0rad;
  --pers: 600px;
  --sAL: 0;
  --sAR: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  cursor: url(/assets/cursor/pointer.png) 7 7, auto;
  position: relative;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

body::before {
  white-space: pre;
  position: absolute;
  inset: 0;
  place-items: center;
  transform: translateZ(99999px);
  background: #000d;
  color: #fff;
  text-align: center;
  display: none;
}

body.W::before {
  content: 'You won!\APress [Esc] to play again';
  display: grid;
}

body.L::before {
  content: 'You lost!\APress [Esc] to play again';
  display: grid;
}

* {
  transform-style: preserve-3d;
}

.r {
  perspective: var(--pers);
  perspective-origin: 0px 100px;
  transform: translateX(var(--pers)) translateY(200px);
}

.f {
  background: radial-gradient(
      farthest-corner at calc(var(--x) + var(--posX)) calc(var(--pers) + var(--y) - var(--posY)),
      #0000,
      #000f 1500px
    ),
    url(./assets/floor.png);
  transform-origin: 0;
  transform: rotateX(90deg) translateZ(calc(0.5 * var(--h) - 200px)) translateY(var(--pers))
    rotateZ(calc(-1 * var(--rot))) translateY(calc(-1 * var(--pers)))
    translateX(calc(-1 * var(--x) - var(--posX)))
    translateY(calc(0.5 * var(--h) - var(--y) + var(--posY)));
  position: absolute;
}

.w {
  --i: url(./assets/wall.png);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  transform-origin: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, var(--sAL, 0)), rgba(0, 0, 0, var(--sAR, 0))),
    var(--i) repeat;

  --translate: translateZ(var(--pers)) rotateY(var(--rot)) translateZ(calc(-1 * var(--pers)))
    translateX(calc(-1 * var(--posX))) translateY(-100px) translateZ(var(--posY));
}
.w.F {
  --i: url(./assets/fwall.png);
}

.w.D::before {
  position: absolute;
  content: '';
  inset: 10px;
  top: 50px;
  bottom: -90px;
  border: 1px solid white;
  border-radius: 5px;
  background: black;
}

.w.G::before {
  border-radius: 99px;
  border: 5px solid gold;
}

.w.C::before {
  background: transparent;
}

.w.N {
  transform: var(--translate) translateX(calc(-1 * var(--x))) translateZ(calc(-1 * var(--y)));
}
.w.E {
  transform: var(--translate) rotateY(-90deg) translateX(calc(-1 * var(--y))) translateZ(var(--x));
}
.w.S {
  transform: var(--translate) rotateY(180deg) translateX(var(--x)) translateZ(var(--y));
}
.w.W {
  transform: var(--translate) rotateY(90deg) translateX(var(--y)) translateZ(calc(-1 * var(--x)));
}

.e,
.t {
  height: var(--h);
  width: var(--w);
  position: absolute;
  transform: translateX(-50%) translateZ(var(--pers)) rotateY(var(--rot))
    translateZ(calc(-1 * var(--pers))) translateY(var(--ty))
    translateX(calc(var(--x) - var(--posX))) translateZ(calc(var(--y) + var(--posY)))
    rotateY(calc(-1 * var(--rot)));
  background-repeat: no-repeat !important;
}

.e {
  animation: move 3s var(--d) infinite;
  cursor: url(/assets/cursor/auto.png) 7 7, pointer;
}

.e::before {
  content: '';
  height: 2px;
  width: var(--hp);
  background: red;
  position: absolute;
  top: var(--b);
  left: 50%;
  transform: translateX(-50%);
}

.e.D {
  --base: 3px 0px/66px 108px url(/assets/dwergi/base.png);
  --move1: 12px 102px/48px 18px url(/assets/dwergi/footl.png);
  --move2: 12px 102px/48px 18px url(/assets/dwergi/footr.png);
  --static: 0px 42px/72px 45px url(/assets/dwergi/static.png);
  --aim: 0 39px/72px 30px url(/assets/dwergi/aim.png);
  --shot: 0 39px/72px 30px url(/assets/dwergi/shot.png);
  --detail1: url();
  --detail2: url();
  --h: 120px;
  --w: 72px;
  --ty: 80px;
  --b: -5px;
}

.e.B {
  --base: 124px 24px/84px 104px url(/assets/bride/bride_base.png);
  --move1: 0px 0px/332px 108px url(/assets/bride/bride_wing-up.png);
  --move2: 0px 0px/332px 108px url(/assets/bride/bride_wing-down.png);
  --static: 112px 36px/108px 36px url();
  --aim: 112px 36px/108px 36px url(/assets/bride/bride_shoot.png);
  --shot: 112px 36px/108px 36px url(/assets/bride/bride_bullet.png);
  --detail1: 108px 4px/88px 84px url(/assets/bride/hair-a-1.png);
  --detail2: 108px 4px/88px 84px url(/assets/bride/hair-a-2.png);
  --h: 128px;
  --w: 332px;
  --ty: 20px;
  --b: 130px;
}

.e.V {
  --base: 56px 24px/80px 156px url(/assets/dracula/dracula_base.png);
  --move1: 0px 0px/192px 192px url(/assets/dracula/dracula_move-1.png);
  --move2: 0px 0px/192px 192px url(/assets/dracula/dracula_move-2.png);
  --static: 24px 24px/144px 92px url(/assets/dracula/dracula_noshoot.png);
  --aim: 24px 24px/144px 92px url(/assets/dracula/dracula_shoot.png);
  --shot: 24px 24px/144px 92px url(/assets/dracula/dracula_bullet.png);
  --detail1: url();
  --detail2: url();
  --h: 192px;
  --w: 192px;
  --ty: 8px;
  --b: 36px;
}

@keyframes move {
  0% {
    background: var(--shot), var(--detail1), var(--base), var(--move1);
  }
  10% {
    background: var(--shot), var(--detail2), var(--base), var(--move2);
  }
  20% {
    background: var(--static), var(--detail1), var(--base), var(--move1);
  }
  30% {
    background: var(--static), var(--detail2), var(--base), var(--move2);
  }
  40% {
    background: var(--static), var(--detail1), var(--base), var(--move1);
  }
  50% {
    background: var(--static), var(--detail2), var(--base), var(--move2);
  }
  60% {
    background: var(--static), var(--detail1), var(--base), var(--move1);
  }
  70% {
    background: var(--static), var(--detail2), var(--base), var(--move2);
  }
  80% {
    background: var(--static), var(--detail1), var(--base), var(--move1);
  }
  90% {
    background: var(--aim), var(--detail2), var(--base), var(--move2);
  }
  100% {
    background: var(--aim), var(--detail1), var(--base), var(--move1);
  }
}

.t {
  background-size: cover;
}

.t.F {
  background-image: url(/assets/f.png);
  --h: 24px;
  --w: 64px;
  --ty: 176px;
}

.t.H {
  background-image: url(/assets/hw.png);
  --h: 44px;
  --w: 28px;
  --ty: 156px;
}

.t.A {
  background-image: url(/assets/a.png);
  --h: 46px;
  --w: 58px;
  --ty: 144px;
}

#i {
  position: fixed;
  inset: 10px;
  top: unset;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  color: white;
  transform: translateZ(99999px);
  user-select: none;
  font-size: 20px;
  gap: 50px;
}

#h {
  margin: 10px auto;
  width: var(--w);
  height: 5px;
  background-color: red;
}
