:root {
  --posX: 600px;
  --posY: 0px;
  --rot: 0rad;
  --pers: 600px;
  --sAL: 0;
  --sAR: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  transform-style: preserve-3d;
}

.r {
  perspective: var(--pers);
  perspective-origin: 0px 100px;
  transform: translateX(var(--pers)) translateY(200px);
}

.w {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  transform-origin: 0;

  --translate: translateZ(var(--pers)) rotateY(var(--rot)) translateZ(calc(-1 * var(--pers)))
    translateX(calc(-1 * var(--posY))) translateZ(var(--posX));
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, var(--sAL, 0)),
    rgba(0, 0, 0, var(--sAR, 0))
  );
  background-color: rgba(0, 0, 255, 1);
}

.w[data-d='N'] {
  transform: var(--translate) translateX(calc(-1 * var(--x))) translateZ(calc(-1 * var(--y)));
}
.w[data-d='E'] {
  transform: var(--translate) rotateY(-90deg) translateX(calc(-1 * var(--y))) translateZ(var(--x));
}
.w[data-d='S'] {
  width: 1600px;
  transform: var(--translate) rotateY(180deg) translateX(var(--x)) translateZ(var(--y));
}
.w[data-d='W'] {
  width: 400px;
  transform: var(--translate) rotateY(90deg) translateX(var(--y)) translateZ(calc(-1 * var(--x)));
}
